{{/* vim: set ft=yaml: */}}
{{output "bash" "-c" (printf "sed '1,3d;$d' %s | yq --tab ."
  (joinPath .chezmoi.sourceDir .chezmoi.sourceFile | quote))}}{{/*
use_non_breaking_spaces: false
segments:
  above:
  - left:
    - function: powerline.segments.shell.mode
    - function: powerline.segments.common.env.user
      priority: 30
    - function: powerline.segments.common.net.hostname
      priority: 10
      args:
        only_if_ssh: true
        exclude_domain: true
    - function: powerline.segments.shell.cwd
      priority: 10
      args:
        dir_limit_depth: 3
    - function: powerline.segments.common.env.virtualenv
      priority: 50
    - function: extras.common.environment
      priority: 40
      args:
        variable: IN_NIX_SHELL
        contents: 
    - function: extras.common.environment
      priority: 40
      args:
        variable: PRJ_NAME
    - function: extras.common.environment
      priority: 40
      args:
        variable: RANGER_LEVEL
        contents: 
    # - type: string
      # width: auto
      # highlight_groups: [ background ]
      # draw_soft_divider: false
      # draw_hard_divider: false
    # right:
    - function: powerline.segments.common.vcs.stash
      priority: 50
    - function: powerline.segments.common.vcs.branch
      priority: 40
    - function: powerline.segments.shell.jobnum
      priority: 20
    - function: powerline.segments.shell.last_pipe_status
      priority: 10
    - function: powerline.segments.shell.last_status
    right: []
  left:
  - function: powerline.segments.common.time.date
    priority: 10
    args:
      format: '%H:%M:%S'
      istime: true
  - function: extras.common.colored
    args:
      code: result = ''
  right: []
*/}}
