data:
  {}
template:
  options:
    - missingkey=error
merge:
  command: bash
  args:
    - '-c'
    - |
      args=()
      if cmp -s {{ `{{ .Target }}` }} {{ `{{ .Source }}` }}; then
        args+=('-d' {{ `{{ .Destination }}` }} {{ `{{ .Source }}` }})
      else
        args+=('-O' {{ `{{ .Destination }}` }} {{ `{{ .Target }}` }} {{ `{{ .Source }}` }})
        args+=('-c' 'diffthis | 2wincmd w | setlocal ro | diffthis | 1wincmd w')
      fi
      vim "${args[@]}"
edit:
  command: vim
