data:
  {}
template:
  options:
    - missingkey=error
merge:
  command: nvim
  args:
    - '-d'
    - '{{ "{{" }} .Destination {{ "}}" }}'
    - '{{ "{{" }} .Source {{ "}}" }}'
    - '{{ "{{" }} .Target {{ "}}" }}'
edit:
  command: nvim
