data:
  {}
template:
  options:
    - missingkey=error
merge:
  command: bash
  args:
    - '-c'
    - |
      args=({{ `{{ .Destination }}` }} {{ `{{ .Source }}` }})
      if ! cmp -s {{ `{{ .Source }}` }} {{ `{{ .Target }}` }}; then
        args+=({{ `{{ .Target }}` }})
      fi
      vim -d "${args[@]}"
edit:
  command: vim
